<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sing'N'Play</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"/>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="ui inverted fixed menu">
            <div class="item"> 
                <img class="ui tiny image" src="/images/sing'n'play.png" alt="">
            </div>
            <a class="item" href="/apropos">A Propos</a>
            <a class="item" href="/">Annonces</a>
            <a class="item" href="/annonces/ajouter">Ajouter une annonce</a> 
             <% if (currentUser) { %>
            
            <div class="ui right inverted menu">
                    <span class="item">Bienvenue <%= currentUser.username %> </span>
                    <img src=".<%= currentUser.image.slice(6) %>" class="ui item small circular image" />
                    <a class="item" href="/logout">Se Déconnecter</a>
                <% } else { %>
                <div class="right floated item">
                    <button class="ui medium button" id="mymodal">Se Connecter</button>
                    <div class="ui small modal">
                            <div class="ui centered header">
                              Connexion
                            </div>
                            <div class="content">
                              <div class="left">
                                <form class="ui form" action="/login" method="POST"> 
                                    <div class="field">
                                        <label for="">Identifiant :</label>
                                        <div class="ui left icon input" >
                                            <i class="user icon"></i>
                                            <input type="text" name="username" placeholder="">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="">Mot de passe :</label>
                                        <div class="ui left icon input">
                                          <i class="lock icon"></i>
                                          <input type="password" name="password" >
                                        </div>
                                    </div>
                                    <div class="field">
                                        <button class="ui primary fluid button">Se Connecter</button>
                                    </div>                                    
                                </form>
                              </div>
                            </div>
                            <div class="content">
                                <div class="ui centered grid">
                                    <span>Pas de compte?</span>
                                </div>
                                <div class="ui centered grid">
                                    <a href="/inscription"><button class="ui primary button">S'inscrire</button></a>
                                </div>
                            </div>
                            
                    </div>
                </div>
                <% } %>
            </div>
            </div>
  