<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sing'N'Play</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"/>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="ui inverted fixed menu">
            <div class="item"> 
                <img class="ui tiny image" src="/images/sing'n'play.png" alt="">
            </div>
            <a class="item" href="/">A Propos</a>
            <a class="item" href="">Annonces</a>
            <div class="ui right inverted menu">
                <span class="item">Bienvenue </span>
                <a class="item" href="/login">Se Connecter</a>
                <a class="item" href="/logout">Se Déconnecter</a>
            </div>
    </div>