
html { 
    height:100%;
}

body {
    background-color: #ededed;
    font-family: 'Roboto', sans-serif;
    min-height:100%; 
    padding:0; 
    margin:0; 
    position:relative;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
  margin-bottom: 2em;
  margin-top: 0.5em;
}

.hover-underline-animation::after {
   content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.ui.grid>.row  {
    justify-content: space-around !important;
}
.ui.card>.content, .ui.cards>.card>.content  {
  
}

.ten.wide.column {
    font-size: 3.5em;
    text-align: center;
}
.ten.wide.column .ui.centered.grid {
    margin-top: 0.8em;
    font-size: 0.3em !important;
    margin-bottom: 0.3em;
}
.ui.medium.button.mymodal {
    background-color : #FFF661!important;
}

.ui.right.floated.item.hide {
    top: 0.8em;
}
.sidebar.icon {
    color: rgba(255, 246, 97, 1) !important;
    font-size: 1.5em;
}
.ui.button {
    font-weight :500 !important;
}
.ui.simple.dropdown {
    margin-left: -2.8em !important;
}
.ui.simple.dropdown  .item.hide {
    top: 0.8em !important;
}
.ui.simple.dropdown .menu {
     margin-top: -1.3em !important;
}
.ui.basic.button {
    font-weight: 400;
}
.user_btn {
    display: inline !important;
}
.voir_btn {
    width: 50%;
    font-weight :400 !important;
    margin-bottom: 1.3em !important;
    -webkit-transition-duration: 0.4s !important; /* Safari */
    transition-duration: 0.4s !important;
    cursor: pointer;
}
.zone_button {
    width: 100%;
    display : inline-flex !important;
    margin-top: 0em !important;
}


.ui.menu {
    font-size: 1.2em;
}
 iframe {
    margin-top: 1em; 
    width: 560px ;
    height: 315px ;
 }

.ui.basic.button {
    background: #ededed!important;
}
.center_content {
    text-align: center;
}
 .ui.basic.button:hover {
    background-color: #1b1c1d !important;
    color: #FFF661 !important;
}

.ui.raised.piled.segment .ui.mymodal {
   float: right;
   cursor: pointer;
}
.ui.link.card {
    cursor: default !important;
}
.ui.styled.accordion {
    width : 100%;
}
.form_model, .ui.comment.message {
    width: 60%;
    margin: auto;
}
.ui.container.flash_message {
    width: 40%;
    position : relative;
    margin-top: 1em;
    text-align: center;
    font-size: 0.9em;
}
.ui.comment.message {
    margin-top : 1em;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}

#identifiant {
    margin-left: -2em;
}

.ui.container.top {
    margin-top: 3.5em;
    margin-bottom: 5em ;
}

#mapContainer { 
    height: 500px; 
    
}


 .masthead.segment {
        min-height: 7em;
        padding: 1em 0em;
      }
 .ui.secondary.inverted.pointing.menu {
     background-color: #1b1c1d;
 }
 .secondary.pointing.menu {
      height: 6em;
    }

 .secondary.pointing.menu .toc.item,
 .secondary.pointing.menu .right.user_icon,
 .secondary.pointing.menu .right.floated.logo{
      display: none;
    }

@media only screen and (max-width : 992px) {
    iframe {
        width: 377px !important;
        height: 250px !important;
     }
}

 @media only screen and (max-width : 770px) {
     .ten.wide.column {
         font-size : 2em;
         text-transform: uppercase !important;
     }
    
     .secondary.pointing.menu .item.hide,
     .secondary.pointing.menu .menu.hide    {
         display: none !important;
     }
     .secondary.pointing.menu .toc.item,
     .secondary.pointing.menu .right.floated.logo,
     .right.floated.user_icon.item {
         display: block !important;
        
     }
     .secondary.pointing.menu .logo.item {
       
     }
      .secondary.pointing.menu .toc.item {
      margin : 1.8em 1em;
      }
      
      .secondary.pointing.menu .right.user_icon {
      margin : 1.8em 1em;
      color : #FFF661!important;
      }

      .ten.wide.column .ui.centered.grid {
        font-size: 0.4em !important;
      }
       iframe {
        width: 480px !important;
        height: 270px !important;
     }
} 

@media only screen and (max-width : 565px) {
    iframe {
        width: 315px !important;
        height: 220px !important;
     }
}