body {
    background-color: #ededed;
}
#mymodal {
    background-color : #FFF661!important;
}

.ui.button {
    font-weight :700 !important;
}

.voir_btn {
    width: 100%;
    font-weight :400 !important;
    margin-bottom: 1.3em !important;
    -webkit-transition-duration: 0.4s !important; /* Safari */
    transition-duration: 0.4s !important;
    cursor: pointer;
}

.ui.basic.button {
    background: #ededed!important;
}
.center_content {
    margin: auto;
}
 .ui.basic.button:hover {
    background-color: #1b1c1d !important;
    color: #FFF661 !important;
}

.ui.link.card {
    cursor: default !important;
}
.ui.styled.accordion {
    width: auto;
}

.form, .ui.comment.message {
    width: 60%;
    margin: auto;
}

.ui.comment.message {
    margin-top: 1em;
}

#identifiant {
    margin-left: -2em;
}

.ui.container.top {
    margin-top: 10em;
}
#mapContainer { 
    height: 500px; 
    
}

#options option[value="piano"]   { 
    background-image:url(images/piano.png); 
    }
