body {
    background-color: #ededed;
}
#mymodal {
    background-color : #FFF661!important;
}

.form {
    width: 60%;
    margin: auto;
}

.ui.container.top {
    margin-top: 10em;
}
#mapContainer { 
    height: 500px; 
    
}