<% include layouts/header %>
<div id="accueil">
    <div class="ui container top">
        <h1 class="ui centered header">A Propos </h1>
        <div class="ui text centered segment">
            De nos jours prendre des cours, particuliers ou en groupe, de musique se révèle être réservé à une
            
            bourse onéreuse. Etre assisté par un professionnel de la guitare peut en moyenne couté 25 euros l’heure soit
            
            150 euros la semaine pour 3 séances de 2 heures.
            
            Et si votre voisin de pallier qui ne vous dit jamais bonjour partageait la même passion pour la musique que
            
            vous? Et s’il était prêt à partager cette passion avec vous sans demander un centime?
            
            Sing’n’Play est une plateforme qui permet de répondre à ces questions.
            
            Pensé pour être un lieu d’échange musical, Sing’n’Play donne la possibilité aux utilisateurs inscrits d’accéder
            
            aux annonces et coordonnées d’autres utilisateurs. Les annonces portent sur la recherche de personnes
            
            expérimentées dans le but de l’apprentissage d’un instrument de musique.
        </div>
    </div>
</div>
<% include layouts/footer %>