<% include layouts/header %>
<div class="ui centered container top raised segment">
    <h1 class="ui centered header">Modifier "<%=annonce.titre %>" </h1>
    <div class="content">
    <div class="left">
        <form class="ui form" action="/annonces/<%=annonce._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="field">
                <label for="">Titre :</label>
                <input type="text" name="annonce[titre]" value="<%=annonce.titre%>" required >
            </div>
            <div class="field">
                <label for="">Description :</label>
                <textarea type="text" name="annonce[contenu]" value="" required ><%= annonce.contenu %></textarea>
            </div>
            <div class="field">
                <button class="ui primary fluid button">Modifier</button>
            </div>                                    
        </form>
    </div>
    </div>
</div>   