<% include layouts/header %>
<div class="ui container top">
    <h1 class="ui centered header">Mon profil</h1>
</div>
<div class="ui container">
    <div class="ui raised segment">
        <a href="/users/me/annonces">
            <h3>Mes annonces</h3>
        </a>
        <h4>Identifiant :</h4>
        <p><%= user.username%></p>
        <h4>Mot de passe :</h4>
        <p>************</p>
        <a href=""><p>Modifier Identifiants</p></a>
        
    </div>
<% include layouts/footer %>