<% include ../layouts/header %>
<div class="ui centered container top">
    <div class="ui stackable grid">
        <div class="ten wide column">
        <h1 class="ui centered header">Connexion</h1>
             <form class="ui form form_model" action="/login" method="POST"> 
                <div class="field">
                    <label for="">Identifiant :</label>
                    <div class="ui left icon input" >
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="" required>
                    </div>
                </div>
                <div class="field">
                    <label for="">Mot de passe :</label>
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" required>
                    </div>
                </div>
                <div class="field">
                    <button class="ui basic fluid button">Se Connecter</button>
                </div>                                    
            </form>
            <div class="ui centered grid">
                <p>Mot de passe oublié? <a href="/forgot">Cliquer ici!</a></p>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui raised segment">
                <h5>Pourquoi s'authentifier?</h5>
                <p>Avoir un compte utilisateur vous permet :</p>
                <div class="ui list">
                    <div class="item">
                        <i class="thumbs up outline icon"></i>
                        <div class="content">
                            d'accéder aux différentes annonces du site    
                        </div>
                    </div>
                    <div class="item">
                        <i class="thumbs up outline icon"></i>
                        <div class="content">
                            de poster vos propres annonces   
                        </div>
                    </div>
                    <div class="item">
                        <i class="thumbs up outline icon"></i>
                        <div class="content">
                            de mettre à jour votre profil et vos annonces   
                        </div>
                    </div>
                    <div class="item">
                        <i class="thumbs up outline icon"></i>
                        <div class="content">
                            de participer à l'évolution de la plateforme  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui container top">
        <div class="ui centered grid">
            <span>Pas de compte?</span>
        </div>
        <div class="ui centered grid">
            <a href="/inscription"><button class="ui basic button">S'inscrire</button></a>
        </div>
    </div>
</div>
<% include ../layouts/footer %>
