<% include ../layouts/header %>
<div id="accueil">
    <div class="ui container top">
        <div class="ui stackable grid">
            <div class="ten wide column">
               <p><a href="/annonces/ajouter">Publier</a> et <a href="/annonces">Consulter</a> des Annonces Gratuitement</p> 
            </div>
            <div class="six wide column">
                <img class="ui medium image" src="/images/gratuit.png" />
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui stackable grid">
            <div class="six wide column">
                <img class="ui medium image" src="/images/music.png" />
            </div>
            <div class="ten wide column">
               <p>Trouver votre Guide Musical!</p> 
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui container">
            <div class="ten wide column">
               <p>Profiter du plaisir de faire de la musique et de rencontrer de nouvelles personnes</p> 
            </div>
            <div class="">
                <img class="ui medium centered image" src="/images/play.png" />
            </div>
        </div>
        
 <!--------       <div class="ui text centered segment">
            De nos jours prendre des cours, particuliers ou en groupe, de musique se révèle être réservé à une
            
            bourse onéreuse. Etre assisté par un professionnel de la guitare peut en moyenne couté 25 euros l’heure soit
            
            150 euros la semaine pour 3 séances de 2 heures.
            
            Et si votre voisin de pallier qui ne vous dit jamais bonjour partageait la même passion pour la musique que
            
            vous? Et s’il était prêt à partager cette passion avec vous sans demander un centime?
            
            Sing’n’Play est une plateforme qui permet de répondre à ces questions.
            
            Pensé pour être un lieu d’échange musical, Sing’n’Play donne la possibilité aux utilisateurs inscrits d’accéder
            
            aux annonces et coordonnées d’autres utilisateurs. Les annonces portent sur la recherche de personnes
            
            expérimentées dans le but de l’apprentissage d’un instrument de musique.
        </div>
    </div>
</div>  ------->
<% include ../layouts/footer %> 