<% include ../layouts/header %>
<div class="ui centered container top">
    <h1 class="ui centered header">Catégories</h1>
    <div class = "ui equal width stackable grid" style='margin: auto!important'>
        <div class ="equal width row">
            <a href="/annonces/categories/corde" >
                <div class ="column">
                    <div class="ui centered header">Instruments à corde</div>
                    <img class="ui centered medium image img_category" src="/images/guitare.jpg">
                </div> 
            </a>
            <a href="/annonces/categories/vent" >
                <div class ="column">
                    <div class="ui centered header">Instruments à vent</div>
                    <img class="ui centered medium image img_category" src="/images/trumpet.jpg">
                </div>
            </a>
        </div>
        <div class ="equal width row">
            <a href="/annonces/categories/percussion" >
                <div class ="column">
                    <div class="ui centered header">Percussions</div>
                    <img class="ui centered medium image img_category" src="/images/percussion.jpg">
                </div>
            </a>
            <a href="/annonces/categories/voix" >
                <div class ="column">
                    <div class="ui centered header">Voix</div>
                    <img class="ui centered medium image img_category" src="/images/singer.jpg">
                </div>
            </a>
        </div>
    </div>
</div>


    
<% include ../layouts/footer %>